body {
  background-color: rgb(80, 80, 80);
  padding: 0%;
  margin: 0%;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#questionWordId {
  color: rgb(255, 0, 0);
  font-size: xx-large;
  text-decoration-line: underline;
}

#theQuestionId {
  color: rgb(255, 255, 255);
  font-size: 120%;
}

.container {
  background-color: rgb(51, 44, 145);
  border-radius: 10px;
  padding: 20px;
  width: 100vw;
  max-width: 50%;

  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
}

.Q1 {
  font-size: 75%;
  background-color: #1d920e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

ul {
  list-style-type: none;
}
